<!DOCTYPE html>
<html lang="pt-BR">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Checkout VIP</title>

<script src="https://sdk.mercadopago.com/js/v2"></script>

<style>

body{
    background:#000;
    color:white;
    font-family:Arial;
    text-align:center;
    padding:20px;
}

.banner{
    width:100%;
    max-width:420px;
    border-radius:20px;
}

#paymentBrick_container{
    background:white;
    padding:15px;
    border-radius:20px;
    margin-top:30px;
}

button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:15px;
    background:#ff0080;
    color:white;
    font-size:20px;
    margin-top:20px;
}

</style>

</head>

<body>

<img src="/static/foto1.jpg" class="banner">

<h1>🔥 Finalizar pagamento</h1>

<button onclick="gerarPix()">
GERAR PIX
</button>

<div id="pixArea"></div>

<div id="paymentBrick_container"></div>

<script>

async function gerarPix(){

    const response = await fetch("/process_payment", {

        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

        body:JSON.stringify({
            payment_method_id:"pix",
            payer:{
                email:"teste@teste.com"
            }
        })
    });

    const data = await response.json();

    document.getElementById("pixArea").innerHTML = `

        <img src="data:image/png;base64,${data.qr_base64}" width="250">

        <textarea style="width:100%;height:120px;">
${data.qr_code}
</textarea>
    `;
}

const mp = new MercadoPago(
"APP_USR-8b7b990d-87cf-4825-8235-a82877896e28",
{
    locale:"pt-BR"
}
);

const bricksBuilder = mp.bricks();

bricksBuilder.create(
"payment",
"paymentBrick_container",
{
    initialization:{
        amount:25
    }
}
);

</script>

</body>
</html>
