<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>

async function gerarPix(){

    document.getElementById("pixArea").innerHTML =
    "Gerando Pix...";

    const response = await fetch("/process_payment", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            payment_method_id: "pix",
            payer: {
                email: "cliente@email.com"
            }
        })

    });

    const data = await response.json();

    if(data.error){

        document.getElementById("pixArea").innerHTML =
        "Erro ao gerar Pix";

        return;
    }

    document.getElementById("pixArea").innerHTML = `

        <img
        src="data:image/png;base64,${data.qr_base64}"
        width="250"
        style="
        border-radius:20px;
        margin-top:20px;
        "
        >

        <textarea id="pixCode"
        style="
        width:100%;
        height:120px;
        margin-top:20px;
        border:none;
        border-radius:15px;
        padding:15px;
        background:#111;
        color:white;
        resize:none;
        ">${data.qr_code}</textarea>

        <button onclick="copiarPix()">
        COPIAR PIX
        </button>
    `;
}

function copiarPix(){

    const pix = document.getElementById("pixCode");

    pix.select();

    pix.setSelectionRange(0, 99999);

    navigator.clipboard.writeText(pix.value);

    alert("Pix copiado!");
}

const mp = new MercadoPago(
"APP_USR-8b7b990d-87cf-4825-8235-a82877896e28",
{
    locale: "pt-BR"
}
);

const bricksBuilder = mp.bricks();

async function renderPaymentBrick() {

    await bricksBuilder.create(
        "payment",
        "paymentBrick_container",
        {
            initialization: {
                amount: 25
            },

            customization: {
                paymentMethods: {
                    creditCard: "all",
                    debitCard: "all",
                    ticket: "all",
                    bankTransfer: "all",
                    maxInstallments: 12
                }
            },

            callbacks: {

                onReady: () => {
                    console.log("Brick carregado");
                },

                onSubmit: ({formData}) => {

                    return new Promise((resolve, reject) => {

                        fetch("/process_payment", {

                            method: "POST",

                            headers: {
                                "Content-Type": "application/json"
                            },

                            body: JSON.stringify(formData)

                        })

                        .then((response) => response.json())

                        .then((response) => {

                            console.log(response);

                            if(response.error){
                                alert("Erro no pagamento");
                                reject();
                                return;
                            }

                            alert("Pagamento enviado!");

                            resolve();

                        })

                        .catch((error) => {

                            console.log(error);

                            reject();

                        });

                    });
                },

                onError: (error) => {
                    console.error(error);
                }
            }
        }
    );
}

renderPaymentBrick();

</script>
