<script>

async function gerarPix() {

    const response = await fetch("/process_payment", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            payer: {
                email: "cliente@email.com"
            }
        })
    });

    const data = await response.json();

    document.getElementById("pixArea").innerHTML = `
    
    <img 
    src="data:image/png;base64,${data.qr_base64}"
    width="260"
    style="border-radius:20px;margin-top:20px;"
    >

    <textarea
    style="
    width:100%;
    height:120px;
    margin-top:20px;
    border-radius:15px;
    padding:15px;
    background:#111;
    color:white;
    border:none;
    "
    >${data.qr_code}</textarea>

    <button onclick="copiarPix()"
    style="
    width:100%;
    padding:18px;
    margin-top:15px;
    border:none;
    border-radius:15px;
    background:#ff0080;
    color:white;
    font-size:20px;
    font-weight:bold;
    ">
    COPIAR PIX
    </button>
    `;
}

function copiarPix(){

    const textarea = document.querySelector("textarea");

    textarea.select();

    document.execCommand("copy");

    alert("Pix copiado!");
}

gerarPix();

</script>

<div id="pixArea"></div>
